<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.congxiaoyao.location.dao.LocationMapper">
    <resultMap id="gpsSampleMap" type="com.congxiaoyao.location.pojo.GpsSamplePo">
        <id property="traceId" column="trace_id"/>
        <result property="carId" column="car_id"/>
        <result property="taskId" column="task_id"/>
        <result property="vLat" column="v_lat"/>
        <result property="vLong" column="v_long"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="time" column="time"/>
    </resultMap>
    <select id="getAllSample" resultMap="gpsSampleMap">
        SELECT *
        FROM tab_position_trace
    </select>
    <select id="getTrace" resultMap="gpsSampleMap" parameterType="java.lang.String">
        SELECT
            trace_id,
            car_id,
            task_id,
            v_lat,
            v_long,
            latitude,
            longitude,
            time
        FROM tab_position_trace
        WHERE task_id = #{taskId}
    </select>
    <insert id="insertSample" parameterType="com.congxiaoyao.location.pojo.GpsSamplePo">
        INSERT INTO tab_position_trace (
            car_id,
            task_id,
            latitude,
            longitude,
            v_lat,
            v_long,
            time
        )
        VALUES (
            #{carId},
            #{taskId},
            #{latitude},
            #{longitude},
            #{vLat},
            #{vLong},
            #{time}
        );

    </insert>
</mapper>
